%p
  = link_to "voltar ao artista", edit_artist_path(@work.artist)
  
.grid_13.tpush_2
  =form_for [:artist, @work], :html => {:multipart => true} do |form|
    =form.label :name
    =form.text_field :name

    =form.label :local
    =form.text_field :local
    =form.submit
    %br
    %br
    
    = attachment_progress_container @work
    = attachment_for_view @work, "layouts/custom_images_list", @work.images, false, false