body { font-size: 12px; line-height: 16px; font-family: Helvetica, Arial, Sans-serif; color:#000; }

.header { left: 0px; top: 24px; background: #CCC; height: 44px; z-index: 0;}
.header h4 { font-size: 12px; text-transform: uppercase; padding-left:10px; padding-top:15px;}

a {color:#999;}
a:link {text-decoration:none;}
a:hover {color:#000;}

ul {list-style: none;}
ul li {float:left; margin-right:3px; text-align:center;color:#CCC;} 
ul li.active {background: #CCC; color:#FFF;}
.hide {display:none;}

/*Outro arquivo de Css*/
.thumbnails {margin-top:5px;}
.thumbnails h4 {margin:15px 0px 15px 0px; border-top:2px solid #CCC;}
.attachment_magick_image {border-bottom: 1px solid #CCC; margin:15px 0px 0px 0px; clear:left; padding: 3px 3px 3px 3px;cursor:pointer;}
.attachment_magick_image:hover {background:#EEE;}

.attachment_magick_image p {margin:0px;}
.attachment_magick_image a {float:right;}
.attachment_magick_image input[type="text"] {width:inherit; font-family:inherit; font-size:1em; border:1px solid #999; -webkit-border-radius:3px; -moz-border-radius:3px; margin-left:-2px;}