.grid_3.tpush_2
  = link_to "Novo trabalho", new_artist_work_path(@artist)
  
  %br
  %br
  %span trabalhos
  -@artist.works.each do |work|
    %br
    =link_to work.name, edit_artist_work_path(@artist, work)
  
.grid_13.tpush_2
  =form_for @artist, :html => {:multipart => true} do |form|
    =form.label :name
    =form.text_field :name

    =form.label :lastname
    =form.text_field :lastname
    =form.submit

    %br
    %br
    = attachment_progress_container @artist
    = attachment_for_view @artist