.grid_13.tpush_2
  =form_for @artist, :html => {:multipart => true} do |form|
    =form.label :name
    =form.text_field :name
  
    =form.label :lastname
    =form.text_field :lastname
    =form.submit
    
    = attachment_for(@artist)